
<h1>
  Gems
  <%= link_to new_ruby_gem_path, class: "ui green small labeled icon add button right" do %>
      <i class="add icon"></i> New Gem
  <% end %>
</h1>

<table class="ui table">
  <thead>
  <tr>
    <th>Name</th>
    <th>By</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% if @ruby_gems.each do |ruby_gem| %>
      <tr>
        <td><%= ruby_gem.name %></td>
        <td><%= ruby_gem.user.email %></td>
        <td class="right aligned">
          <div class="ui buttons mini">
            <%= link_to edit_ruby_gem_path(ruby_gem), class: "ui button" do %>
                <i class="edit icon"></i> Edit
            <% end %>
            <%= link_to ruby_gem_path(ruby_gem), method: :delete, data: {confirm: 'Are you sure?'}, class: "ui button" do %>
                <i class="trash icon"></i> Delete
            <% end %>
          </div>
        </td>
      </tr>
  <% end.empty? %>
  <tr>
    <td colspan="2">
      <strong>Nothing to show right now!!</strong>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
