<div class="ui middle aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <div class="content">
        Sign up
      </div>
    </h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "ui large form error"}) do |f| %>
        <%= render 'layouts/error_messages', object: f.object %>
        <div class="ui stacked ">

          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <%= f.email_field :email, placeholder: :email %>
            </div>
          </div>

          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <%= f.password_field :password, autocomplete: "off", placeholder: :password %>
            </div>
          </div>

          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <%= f.password_field :password_confirmation, placeholder: :password_confirmation, autocomplete: "off" %>
            </div>
          </div>

          <%= f.submit "Sign up", :class => "ui fluid large teal submit button" %>
        </div>
    <% end %>
  </div>
</div>